#contact {
  padding: 100px 80px;
  background: rgb(20, 25, 29);
  color: white;
  text-align: center;
}
#contact h1 {
  font-size: 40px;
  margin-bottom: 40px;
}
.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-form input,
.contact-form textarea {
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.05);
  color: white;
}
.contact-form textarea {
  height: 120px;
}
.contact-form button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #22c5c5, #06b6d4);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.contact-form button:hover {
  transform: scale(1.05);
}
