nav{
    width: 100%;
    height: 80px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    top: 0;
    z-index: 20;
}

body{
    background-color: rgb(20, 25, 29);
    margin: 0;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color:white;
    list-style: none;
    font-size: 20px;
}

nav h1{
    font-size: 30px;
    background: linear-gradient(to right, rgb(26, 151, 165), white );
    background-clip: text;
    color: transparent;
}

.active{
    color:rgb(136, 231, 231);
    border-bottom: 2px solid white;
}

nav ul a{
    cursor: pointer;
}

nav ul a:hover{
    color:rgb(136, 231, 231);
    border-bottom: 2px solid white;
}

/* ---------------- FIX START ---------------- */

.hamburger{
  display: none;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

/* all lines */
.ham{
  width: 40px;
  height: 2px;
  background-color: aliceblue;
  position: absolute;
  transition: all 0.3s ease;
}

/* default positions */
.ham:nth-child(1){
  top: 14px;
}
.ham:nth-child(2){
  top: 24px;
}
.ham:nth-child(3){
  top: 34px;
}

/* ACTIVE STATE (perfect cross) */
.activeham .ham:nth-child(1){
  transform: rotate(45deg);
  top: 24px;
}

.activeham .ham:nth-child(2){
  opacity: 0;
}

.activeham .ham:nth-child(3){
  transform: rotate(-45deg);
  top: 24px;
}

/* ---------------- FIX END ---------------- */

.mobilemenu{
  position: absolute;
  top: 80px;
  width: 100%;
  height: 100vh;
  background-color: rgba(20, 25, 29, 0.42);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  right:0;
  transform: translateX(100%);
  flex-direction: column;
  transition: all 0.5s;
  gap:50px;
}

@media (max-width:750px) {
    .desktopmenu{
        display: none;
    }
    .hamburger{
        display: block;
    }
}

.activemobile{
    transform: translateX(0%);
}